@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
    ViewData["ID"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Connected to @Model.APIWorkspace</p>
</div>
